:root {
    --bg-main: rgb(0, 15, 10);
    --bg--secondary: rgb(0, 30, 20);

    --primary: rgb(0, 255, 156);
    --primary-soft: rgb(0, 204, 116);

    --border: rgb(0, 158, 96);
    --border-dark: rgb(0, 122, 74);

    --text-main: rgb(182, 255, 216);
    --text-secondary: rgb(107, 255, 176);
    --text-accent: rgb(42, 255, 154);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styles */
body {
    background-color: var(--bg-main);
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-main);
}
    /* Header Styles */
h1 {
    color: var(--text-accent);
}

body a {
    color: var(--border-dark);
}

body a:hover {
    color: var(--primary-soft);
}

nav a:target {
    color: var(--border);
}

details a:target {
    color: var(--border);
}

/*Footer Styles */
#contactMe :is(input:not([type="checkbox"]), textarea, select):hover {
    outline: 2px solid var(--border-dark);
}

#contactMe :is(input:not([type="checkbox"]), textarea, select):focus {
    outline: 2px solid var(--border);
}

#contactMe :is(input:not([type="checkbox"]), textarea, select):active {
    outline: 2px solid var(--border);
}